.myeditor-container {
    /* border: solid; */
}

.title-container {
    height: 38px;
    border: solid 1px #cccccc;

    border-bottom: none;
    display: flex;
    /* flex: 100%; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
}

.back-button {
    font-size: large;
    background-color: white;
    border: none;
    border-right: #cccccc solid 1px;
    height: 38px;
    flex: 20%;
}

.note-title {
    padding: 0px 10px;
    border: none;
    font-size: large;
    /* display: flex; */
    /* align-items: end; */
    /* margin-left: auto; */
    /* height: 40px; */
    /* border: solid; */
    flex: 60%;
}

.save-button {
    font-size: large;
    background-color: white;
    border: none;
    border-left: #cccccc solid 1px;
    /* border-right: #cccccc solid 1px; */
    height: 38px;
    flex: 20%;
}
