.noteform-container {
    display: flex;
    /* border: solid; */
    width: 100%;
}

.noteform-form {
    /* border: solid; */
    /* margin-bottom: -2px; */
    display: flex;
    width: 100%;
}

.notetitle {
    border: solid 1px #cccccc;
    border-top: none;
    /* height: ; */
    flex: 70%;
    /* border: solid; */
    /* max-width: 100%; */
}

.proceed-button {
    font-size: 14px;
    border: none;
    border-bottom: solid 1px #cccccc;
    background-color: white;
    flex: 30%;
    /* border: solid; */
    /* width: 180px; */
}

.proceed-button:hover {
    cursor: pointer;
}