.notelist-container {
    height: 100vh;
    /* border: solid; */
    border: solid 1px #cccccc;
    border-top: none;
}

.notes-container {
    /* border: solid; */
    margin-top: 1px;
}

.notelist-note-container {
    /* margin-top: 3px; */
    display: flex;
    height: 50px;
    border-bottom: solid 1px #cccccc;
}

.notelist-note-container:hover{
    cursor: pointer;
}

.notelist-heading {
    display: flex;
    vertical-align: middle;
    padding: 0px 10px;
    overflow: hidden;
    font-size: 18px;
    height: 50px;
    margin: 0;
    flex: 70%;
    /* justify-content: center; */
    align-items: center;
}

.notelist-heading span {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-button {
    height: 50px;
    margin-left: auto;
    flex: 30%;
    background-color: white;
    border: none;
    border-left: solid 1px #cccccc;
}

.delete-button:hover{
    cursor: pointer;
}

.add-button {
    background-color: white;
    border: none;
    border-bottom: solid 1px #cccccc;
    /* border-top: solid 1px #cccccc; */
    /* margin: auto; */
    /* display: block; */
    /* padding: 10px; */
    /* border: solid; */
    font-size: xx-large;
    /* margin-bottom: 5px; */
    height: 40px;
    width: 100%;
}

.add-button:hover{
    cursor: pointer;
}

.cancel-button {
    /* margin-bottom: -px; */
    background-color: white;
    border: none;
    border-bottom: solid 1px #cccccc;
    /* border: solid; */
    font-size: 14px;
    padding: 10px;
    width: 20%;
}

.cancel-button:hover {
    cursor: pointer;
}

.form-container {
    height: 40px;
    /* padding-bottom: -1px; */
    /* border: solid 1px #cccccc; */
    /* margin-top: 10px; */
    /* border: solid; */
    display: flex;
}