.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.myeditor-container-large {
  width: 80%;
  margin-left: auto;
}

.myeditor-container-small {
  width: 100%;
}

.notelist-container-large {
  width: 20%;
  margin-right: auto;
}

.notelist-container-small {
  width: 100%;
}

.play-ground {
  display: flex;
  flex-direction: row;
}