@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.play-ground {
  display: flex;
  flex-direction: row;
  /* border: solid; */
  width: 100%;
}

.notes-container-large {
  /* border: solid; */
  width: 20%;
  height: 90vh;
  overflow: scroll;
}

.editor-container-large {
  width: 80%;
}

